.container {
  display: flex;
  flex: 1;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: var(--color-bg-app);
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
    height: auto;
    min-height: calc(100vh - var(--header-height));
  }
}
